/* You can add global styles to this file, and also import other style files */
$se-icon-folder: "~@se/icons/fonts";
$se-generate-font-class: "false";
@use "@se/icons/scss/styles";
$se-fonts-path: "~@se/fonts/fonts";
@use "@se/fonts/scss/styles-technical";
